html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='asset/css/app.css')
    title Santa's call
  body
    .container
      #santa.items
        #avatar
        h1 Santa
        h3 +358 23 8473690
      #controls.items
        #accept.controls
          .fa.fa-phone.fa-4x
        #reject.controls
          .fa.fa-phone.fa-4x
    script(src='asset/js/app.js')
