$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

$roboto-font-path: '~roboto-fontface/fonts';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface-light';

@import '~bourbon/app/assets/stylesheets/bourbon';

* {
  font-family: 'Roboto Light', sans-serif;
  color: #fff;
}

html,
body {
  min-height: 100%;
  overflow: hidden;
}

body {
  @include linear-gradient(#112233, #183547);
}

h1,
h3 {
  font-weight: normal;
}

.container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.items {
  display: block;
  width: 100%;
}

#santa {
  #avatar {
    display: block;
    position: relative;
    margin: 1em auto 0;
    width: 150px;
    height: 150px;
    background: url(../img/santa) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: rgba(0, 0, 0, .5) 1px 4px 5px;
  }

  h1 {
    font-size: 4em;
    line-height: 0.25em;
  }
}

#controls {
  @include transition(opacity 0.5s);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  
  &.hide {
    opacity: 0;
  }

  .controls {
    display: inline-block;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .5) 1px 4px 5px;
    border-radius: 50%;

    .fa {
      border-radius: 1em;
      width: 2em;
      height: 2em;
      font-size: 2em;
      background: #FD423A;
      line-height: 2em;      
    }

    &:first-child {
      margin-right: 5em;
    }

    &#reject .fa {
      transform: rotate(135deg);
    }

    &#accept .fa {
      background: #50D968;
    }
  }
}
